<!--THIS ONE MAY BE MESSED UP CHECK USERNAME IT WAS STUDENTID-->

<%- include('../partials/header') %>
<h1>Welcome to the login page!</h1>
<div class="login-grid">
  <div class="card">
    <h2>Member Login</h2>
    <form method="POST" action="/login/member">
      <label>Name</label>
      <input name="name" required>

      <label>Username</label>
      <input name="username" required>

      <button class="btn">Login</button>
    </form>
  </div>

  <div class="card">
    <h2>Admin Login</h2>
    <form method="POST" action="/login/admin">
      <label>Email</label>
      <input name="email">

      <label>Password</label>
      <input type="password" name="password">

      <button class="btn">Login</button>
    </form>
  </div>
</div>

<%- include('../partials/footer') %>