<%- include('../partials/header') %>

<h1>Admin Dashboard</h1>
<div class="admin-grid">
  <a href="/admin/shows" class="admin-card">
    <h2>Manage Shows</h2>
    <p>Edit show information and upload logos.</p>
  </a>

  <a href="/admin/members" class="admin-card">
    <h2>Member Engagement</h2>
    <p>See which shows students are commenting on.</p>
  </a>
</div>

<%- include('../partials/footer') %>