<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Show manager</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
<header class="topbar">
  <div class="logo">
    Show manager
  </div>
  <nav>
    <% if (currentUser) { %>
      <% if (role === "member") { %>
        <a href="/member">Dashboard</a>
        <a href="/member/profile">My Shows</a>
      <% } %>

      <% if (role === "admin") { %>
        <a href="/admin">Admin</a>
      <% } %>

      <a href="/logout">Logout</a>
    <% } %>
    </nav>
</header>
<main class="container">